[submodule "MIDI_driver"]
	path = MIDI_driver
	url = https://github.com/GuavTek/MIDI_driver
[submodule "MCP2517_ATSAMD_driver"]
	path = MCP2517_ATSAMD_driver
	url = https://github.com/GuavTek/MCP2517_ATSAMD_driver
