[submodule "MIDI_driver"]
	path = MIDIBUS_USB/MIDI_driver
	url = https://github.com/GuavTek/MIDI_driver
[submodule "MCP2517_ATSAMD_driver"]
	path = MIDIBUS_USB/MCP2517_ATSAMD_driver/MCP2517_ATSAMD_driver
	url = https://github.com/GuavTek/MCP2517_ATSAMD_driver
